<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

</head>

<body class="has-background-grey-light">
    <div id="app">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <!-- logo -->
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <img style="width: 100%;" src="./img/logo.png">
            </a>
        </div>

        <!-- เมนู nav -->
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">text</a>
                <div class="navbar-dropdown">
                    <div class="navbar-item">
                        <a href="#">{{message}}</a>
                    </div>
                    <div class="navbar-item">
                        <a href="#">text</a>
                    </div>
                    <div class="navbar-item">
                        <a href="#">text</a>
                    </div>
                    <div class="navbar-item">
                        <a href="#">text</a>
                    </div>
                    <div class="navbar-item">
                        <a href="#">text</a>
                    </div>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">text</a>
               
            </div>
        </div>

        <!-- ขอบขวา nav -->
        <div class="navbar-end">
            <p class="navbar-item" href="#" v-if="login_state == false">ยังไม่ล็อคอิน</p>
            <p class="navbar-item" href="#" v-else-if="login_state == true">ล็อกอินแล้ว</p>
            <a class="navbar-item" href="./favorite.html">
                <i class="fa-regular fa-heart"></i>
            </a>
            <a class="navbar-item" href="#">ลงขาย</a>
            <div class="navbar-item has-dropdown is-hoverable" v-if="login_state==true">
                <a class="navbar-link">{{username}}</a>
                <div class="navbar-dropdown">
                    <div class="navbar-item">
                        <a href="#">ข้อมูลส่วนตัว</a>
                    </div>
                    <div class="navbar-item">
                        <a href="./favorite.html">รายการโปรด</a>
                    </div>
                    <div class="navbar-item">
                        <a @click="login_state=false">ออกจากระบบ</a>
                    </div>
                </div>
            </div>
            <a class="navbar-item" href="#"  @click="showlogin()" v-if="login_state==false">login</a>
        </div>

    </nav>

    

    
    <div class="popup">
        <div class="popup-content">
            
                <i class="fa-sharp fa-solid fa-circle-xmark close" @click="closelogin()"></i>

            <h1>LOG IN</h1>
            <input type="text" placeholder="Username" v-model="login_username">
            <input type="password" placeholder="Password" v-model="login_password">
            <a @click="login()" class="btn" href="#">LOGIN</a>
            <div class="noacc">
            <a  href="register.html">
                <span>ยังไม่มีบัญชี? สมัครเลย</span> 
            </a>
            </div>

        </div>
    </div>
    
    <div class="hero">
       <div></div>
        <img class="slideimg"   style="height:100%"  @click="next()":src="images[index]">
       
            

    

    </div>


    <br><br>
    <div class="container is-widescreen ">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                  <div class="content">
                    กีต้าโปร่ง
                    
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                  <div class="content">
                    กีต้าไฟ้ฟ้า
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br><br>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                  <div class="content">
                    
                    มัลติ
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                  <div class="content">
                   
                   <p >amp</p>
                   
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
    
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./script.js"></script>

</html>
