


// 2. Set your own initial variables
// Update blue

// Set your brand colors
$main: #14274E;
$sub: #394867;
$clean: #F1F6F9;
$gray : #9BA4B4;


// Update Bulma's global variables
$primary: $sub;
$light:$clean;
$dark: $main;
$info: $gray;



// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";