

:root {
    --primary-color:#14274E;
    --seconddary-color:#394867;

}
.navbar{
    background-color: var(--primary-color);
}
.navbar-dropdown{
    background-color: var(--primary-color)
}
.navbar-link :hover{
    background-color: red !important; 
}







.cart-logo-container{
    position:relative;
}
.cart-logo-count{
    position:absolute;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    left:15;
    right:0;
    top:-5;
    background-color: red;
    text-align: center;
    justify-content: center;

}
#cart-count{
    font-size: 10px;
}