<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

</head>
<body>
    <div id="app">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <!-- logo -->
            <div class="navbar-brand ml-6">
                <a class="navbar-item" href="index.html">
                    <img src="./img/logo.png">
                </a>
            </div>

            <!-- เมนู nav -->
            <div class="navbar-start">
                <div class="navbar-item">
                    <a @click= "goproducts(1)">กีตาร์โปร่ง</a>
                </div>
                <div class="navbar-item">
                    <a @click= "goproducts(2)">กีตาร์ไฟฟ้า</a>
                </div>
                <div class="navbar-item">
                    <a @click="goproducts(3)">เอฟเฟค</a>
                </div>
                <div class="navbar-item">
                    <a @click="goproducts(4)">แอมป์</a>
                </div>




            </div>

            <!-- ขอบขวา nav -->
            <div class="navbar-end mr-6">
                <a @click=goreport() class="navbar-item">ดูreport</a>
                <a class="navbar-item" href="#" @click="gofavorite()">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a class="navbar-item" @click="gosell()" href="#">ลงขาย</a>
                <div class="navbar-item has-dropdown is-hoverable" v-if="login_state==true">
                    <a class="navbar-link">{{username}}</a>
                    <div class="navbar-dropdown">
                        <div class="navbar-item">
                            <a href="user.html">ข้อมูลส่วนตัว</a>
                        </div>
                        <div class="navbar-item">
                            <a href="./favorite.html">รายการโปรด</a>
                        </div>
                        <div class="navbar-item">
                            <a @click="logout()">ออกจากระบบ</a>
                        </div>
                    </div>
                </div>
                <a class="navbar-item" href="#" @click="showlogin()" v-if="login_state==false">login</a>
            </div>

        </nav>
    </div>
    
        <div id="detail">
        <div class="container">
            <div class="columns">
                <div class="column" >
                    <h3 style="font-size: 50px; color: white;  text-align: center;">
                        คำร้องเรียน
                    </h3>
                    <div class="card" v-for="item in reports" style="margin-top: 5%;">
                        <div class="card-content">
                            <div class="content">
                                <p> <strong>ชื่อผู้ขาย:</strong> {{item.name}}</p>
                                <p> <strong>หัวข้อ:</strong> {{item.header}}</p>
                                <p> <strong>รายละเอียด:</strong> {{item.detail}}</p>

                            </div>
                            
                            


                            

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./script.js"></script>
</html>
